*
{margin: 0px;
padding: 0px;
box-sizing: border-box;
}

/*variables de manual de marca*/
$color-principal-1:#05a791;  
$color-principal-2: #e2e2e2;
$color-titulos:#333837;
$color-subtitulos:#4d635e;


header{
    background-color: #e2e2e2;
    height: 10%;
    margin: 0%;
}
.banner{
    width: 100vw;
    margin: 0%;
}

ul{
    margin: 0%;
    height: 10%;
    text-align:left;
}
h1{
    color: yellow;
    background-color: #b0b9b9;
    background-position: center;
    padding: 5px;
    font-weight: 100;
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
h2{
    background-color: #05a791;
    background-position: center;
    font-family: Verdana, Tahoma, sans-serif;
}

h3{
    color: #262828;
    background-color: #05a791;
    border: #eeeeee 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.lead{
    font-family: Verdana,Tahoma, sans-serif;
    font-size: 30px;
    font-style: italic;
    color: black;
    text-align: center,justify;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.imghome{
    grid-template-columns: 50%;
    display: inline-flex;
    width: 50%;
    padding: 15px;
    padding-left: 0%;
}
.grid-art-home.contain{
    grid-template-columns: 50% 50%;
    width: 50%;
    color: #262828;
}

h2{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0%;
}

.redes{
    position: relative;
    background-color: #cfd7d7;
}
.footer{
    display: inline;
    width: 100vw;
    margin: 0;
    padding: 10;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',  Verdana, sans-serif;
    background-color: #cfd7d7;
}

ul{
    margin-left: 0;
    box-sizing: border-box;
    font-size: 30px;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #cfd7d7;
    padding-left: 10%;
}
.cajaTexto1{
    border-color: $color-subtitulos;
    border: solid 1px;
}
//estilos de la pagina contacto

.contac-form{
    contain: size 60% ;
    display: flex ;
    background-color:$color-subtitulos;
    padding-left:30px;
    background-color: #05a791;
    font-size: 22px;
    padding: 30px;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding-left: 30px;
    box-sizing: border-box;
    border-radius: 10px;
}
textarea{
    padding-left: 30px;
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
.boton{
    background: #262828;
    background-color: #eae555;
    padding: 2px;
    border-radius: 5px;
}
.h2contacto{
    grid-template-columns: 40%;
    text-align: left;
    font-size: 25px;
    padding: 5px;
    text-decoration-color: #262828;

}
.caja-formulario{
    padding: 8px;
}
.Mensaje{
    padding: 8px;
    grid-template-columns: 100%;
    padding-left: 30px;
    padding-top: 15px;
}


.redes{
    width: 25px;
    position: relative;
}
//servicios
.caja2{
    margin-left:10%;
    display:inline-block;
}
.conteiner-h4{
    grid-template-columns: 75% 25%;
    color: #262828;
    background-color: #05a791;
    padding: 25px;
}
body{
    font-family: 'Outfit', sans-serif;

}
//media cueries para diferentes vistas: movile, tablet, pc
@media screen and (min-width: 300px)and(max-width:750px){
    .banner{
        width: 100vw;
        margin: 0%;
    }

    .h1{
        color: yellow;
        background-color: #b0b9b9;
        background-position: center;
        padding: 5px;
        font-weight: 0;
        font-size: 12px;
        font-family: Verdana,Geneva, Tahoma, sans-serif
    }
    .cajaSubtitulos{
        padding: 0;
        display: contents 100%;
        margin: 0;
        
    }
    .imghome{
        margin: 0;
        display: flex;
        flex-direction: column;
        padding: 0px;
        width: 100vw;
    }

    
    .grid-art-home.contain{
        display: flex;
        flex-direction: column 100%;
        margin: 0;
        padding: 10px;
        color: #262828;
        text-align: justify center;
    }
    .contac-form{
        box-sizing: border-box;
        contain: size 60%;
        max-width: 100%;
    }
    
}

@media screen and (max-width:970px){
    .h1{
        color: #05a791;
        flex-direction: column;
        padding: auto;
        background-color: #ebefef;
        background-position: center;
        font-size: 50px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .cajaSubtitulos{
        padding: 20px;
        -ms-flex-align: center;
        font-size: 25px;
    }
    .imghome{
        grid-template-columns: 50% 50%;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 500px;
        height: 500px;
    }
    } 
    .grid-art-home.contain{
        padding: 2px;
        grid-template-columns: 100%;
        align-content: center;
        justify-content: center;
        color: #262828;
}

@media screen and (max-width:1880px){
    header{
        background-color: #e2e2e2;
        height: 10%;
        margin: 0%;
    }
    .banner{
        width: 100vw;
        margin: 0%;
    }
    
    ul{
        margin: 0%;
        height: 5%;
        text-align:left;
    }
    h1{
        color: yellow;
        background-color: #b0b9b9;
        background-position: center;
        padding: 5px;
        font-weight: 700;
        font-size: 48px;
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }
    h2{
        background-color: #05a791;
        background-position: center;
        font-family: Verdana, Tahoma, sans-serif;
    }
    
    h3{
        color: #262828;
        background-color: #05a791;
        border: #eeeeee 3px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    
    p{
        font-family: Verdana,Tahoma, sans-serif;
        font-size: 30px;
        font-style: italic;
        color: black;
        text-align: center,justify;
        padding-top: 0;
        padding-left: 20px;
        padding-right: 10px;
        padding-bottom: 10px;
        box-sizing: border-box;
    }
    .imghome{
        grid-template-columns: 50%;
        display: inline-flex;
        width: 50%;
        padding: 15px;
        padding-left: 0%;
    }
    .grid-art-home.contain{
        grid-template-columns: 50% 50%;
        width: 50%;
        color: #262828;
    }
    
    h2{
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0%;
    }
    
    .redes{
        position: relative;
        background-color: #cfd7d7;
    }
    .footer{
        margin:0%;
        font-size: 35px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',  Verdana, sans-serif;
        background-color: #cfd7d7;
    }
    ul{
        margin-left: 5%;
        font-size: 30px;
        font-family: Verdana, Tahoma, sans-serif;
        background-color: #cfd7d7;
        padding-left: 0%;
    }
    .cajaTexto1{
        border-color: $color-subtitulos;
        border: solid 1px;
    }
    //estilos de la pagina contacto
    
    .contac-form{
        grid-template-columns: 50%;
        background-color:$color-subtitulos;
        padding-left:30px;
        background-color: #05a791;
        font-size: 22px;
        padding: 30px;
        margin: auto;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    input, textarea{
        width: 100%;
        margin-bottom: 20px;
        padding-left: 30px;
        box-sizing: border-box;
        border-radius: 3px;
    }
    textarea{
        padding-left: 30px;
        min-height: 100px;
        max-height: 200px;
        max-width: 100%;
    }
    .boton{
        background: #262828;
        color: #cfd7d7;
        padding: 2px;
        border-radius: 5px;
    }
    .h2contacto{
        grid-template-columns: 40%;
        text-align: left;
        font-size: 25px;
        padding: 5px;
        text-decoration-color: #262828;
    
    }
    .caja-formulario{
        padding: 8px;
    }
    .Mensaje{
        padding: 8px;
        grid-template-columns: 100%;
        padding-left: 30px;
        padding-top: 15px;
    }
    
    
    .redes{
        width: 25px;
        position: relative;
    }
    //servicios
    .caja2{
        margin-left:10%;
        display:inline-block;
    }
    .grid-quienes{
        text-align:justify;
        text-align:center;
        padding-top:50px;
        padding-left:35px;
        padding-right:35px;
        color:$color-subtitulos;
        grid-template-columns:20%;
    }
    body{
        font-family: 'Outfit', sans-serif;
}
}