* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*variables de manual de marca*/
header {
  background-color: #e2e2e2;
  height: 10%;
  margin: 0%;
}

.banner {
  width: 100vw;
  margin: 0%;
}

ul {
  margin: 0%;
  height: 5%;
  text-align: left;
}

h1 {
  color: yellow;
  background-color: #b0b9b9;
  background-position: center;
  padding: 5px;
  font-weight: 700;
  font-size: 48px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  background-color: #05a791;
  background-position: center;
  font-family: Verdana, Tahoma, sans-serif;
}

h3 {
  color: #262828;
  background-color: #05a791;
  border: #eeeeee 3px;
  padding-top: 1em;
  padding-bottom: 1em;
}

p {
  padding-top: 0;
  padding-left: 0;
  font-family: Verdana,Tahoma, sans-serif;
  font-size: 25px;
  font-style: italic;
  color: black;
  -ms-grid-columns: 50%;
      grid-template-columns: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 40%;
}

.imghome {
  -ms-grid-columns: 50%;
      grid-template-columns: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 50%;
  padding: 15px;
  padding-left: 0%;
}

.grid-art-home.contain {
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  width: 50%;
  color: #262828;
}

.lead {
  padding-top: 5%;
  padding-left: 0%;
  padding-right: 0%;
}

h2 {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  margin: 0%;
}

.redes {
  position: relative;
  background-color: #cfd7d7;
}

.footer {
  margin: 0%;
  font-size: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',  Verdana, sans-serif;
  background-color: #cfd7d7;
}

ul {
  margin-left: 5%;
  font-size: 30px;
  font-family: Verdana, Tahoma, sans-serif;
  background-color: #cfd7d7;
  padding-left: 0%;
}

.cajaTexto1 {
  border-color: #4d635e;
  border: solid 1px;
}

.contac-form {
  -ms-grid-columns: 50%;
      grid-template-columns: 50%;
  background-color: #4d635e;
  padding-left: 30px;
  background-color: #05a791;
  font-size: 22px;
  padding: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.caja-formulario {
  padding: 8px;
}

.Mensaje {
  padding: 8px;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  padding-left: 30px;
  padding-top: 15px;
}

.redes {
  width: 25px;
  position: relative;
}

.caja2 {
  margin-left: 10%;
  display: inline-block;
}

.conteiner-h4 {
  text-align: justify;
  text-align: center;
  background-color: #05a791;
  padding-top: 50px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 50px;
  color: #030f0c;
  -ms-grid-columns: 20%;
      grid-template-columns: 20%;
}

body {
  font-family: 'Outfit', sans-serif;
}

@media screen and (max-width: 750px) {
  .homeResponsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .h1 {
    color: #05a791;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: none;
            flex-direction: none;
    display: contents 100%;
    padding: 3px;
    background-color: #ebefef;
    background-position: center;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .cajaSubtitulos {
    padding: 0;
    display: contents 100%;
    margin: 0;
  }
  .imghome {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
    width: 700px;
    height: 700px;
  }
  .grid-art-home.contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column 100%;
            flex-direction: column 100%;
    margin: 0;
    padding: 10px;
    color: #262828;
    text-align: justify center;
  }
}

@media screen and (max-width: 970px) {
  .h1 {
    color: #05a791;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: auto;
    background-color: #ebefef;
    background-position: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .cajaSubtitulos {
    padding: 20px;
    -ms-flex-align: center;
    font-size: 25px;
  }
  .imghome {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 500px;
    height: 500px;
  }
  .lead {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    padding: 2%;
  }
  .grid-art-home.contain {
    padding: 4px;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #262828;
  }
}
/*# sourceMappingURL=style.css.map */