/*.contac-form{
    font-size: 2em;
    font-family:Verdana,Tahoma, sans-serif;
    line-height: 2;
    font-weight: 60;
    font-stretch: normal;
    font-variant: small-caps;
    color: gray
}
button{
    background-color: #b00772;
}
.redes{
    width: 25px;
    position: relative;
}