/*
{margin: 0px;
padding: 0px;
box-sizing: border-box;}

.banner{
    width: 100vw;
    margin: 0%;
}
header{
    background-color: #eeeeee;
    height: 10%;
    margin: 0%
}
ul{
    margin: 0%;
    height: 5%;
    text-align:left;
}
h1{
    color: #05a791;
    background-color: #b0b9b9;
    background-position: center;
    font-weight: 700;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    background-color: #05a791;
    background-position: center;
    font-family: Verdana, Tahoma, sans-serif;
}

h3{
    color: #262828;
    background-color: #05a791;
    border: #eeeeee 3px;
    padding-top: 1em;
    padding-bottom: 1em;
}
body{
    font-family: 'Outfit', sans-serif;
}
.imghome{
    width: 300px;
    display: flex;
    border: 3px;
    position:relative;
    padding-bottom: 3em;
    padding-top: 1em;
    grid-template-columns: 50% 50%;
}
.grid-art-home{
    display: flex; 
    grid-template-columns: 50% 50%;
    align-content: center;
    justify-content: center;
    color: #262828;
}
h2{
    display: grid; grid-template-columns: none;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    margin: 0%;
}
.p{
    grid-template-columns: 50% 50%;
    font-size: 16px;
}



/*modificaciones en el footer*/
/*.redes{
    position: relative;
    background-color: hsl(180, 31%, 95%)
}
.footer{
    margin:0%;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',  Verdana, sans-serif;
    background-color: #cfd7d7;
}
ul{
    margin-left: 5%;
    font-size: 30px;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #cfd7d7;
    padding-left: 0%;
}

@media (min-width:750px){
    .h1{
        color: #05a791;
        flex-direction: column 100%;
        padding: auto;
        background-color: #ebefef;
        background-position: center;
        font-size: 8px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .cajaSubtitulos{
        padding: 20px;
        -ms-flex-align: center;
        font-size: 16px;
    }
    .imghome{
        grid-template-columns: 100%;
        padding: 4px;
        width: 300px;
        height: 300px;
    }
    .lead{
        grid-template-columns: 100%;
        padding:2%
    }
    .grid-art-home.contain{
        padding: 4px;
        grid-template-columns: 100%;
        align-content: center;
        justify-content: center;
        color: #262828;
}
    .p{
    grid-template-columns: 100%;
    font-size: 16px;
}
}
/*
@media (min-width:1020px){
    .h1{
        color: #05a791;
        flex-direction: column;
        padding: auto;
        background-color: #ebefef;
        background-position: center;
        font-size: 16px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .cajaSubtitulos{
        padding: 20px;
        -ms-flex-align: center;
        font-size: 16px;
    }
    .imghome{
        grid-template-columns: 50% 50%;
        padding: 4px;
        width: max-content;
    }
    .lead{
        grid-template-columns: 50% 50%;
        padding:2%
    } 
    .grid-art-home.contain{
        padding: 4px;
        grid-template-columns: 50% 50%;
        align-content: center;
        justify-content: center;
        color: #262828;
}
}
